<div class="row">
  <div class="col-12 col-lg-6">
    <div class="box-shadow">
      <h2>Items</h2>
      <p class="add-task-form">
        <input type="text" placeholder="Type name here..." [(ngModel)]="newTask.name">
        <button class="btn" (click)="addTask()">Add new</button>
      </p>
      <div class="list-tasks">
        <ul class="list-group list-group-flush">
          <li *ngFor="let task of objectKeys(tasks)"
              [ngClass]="{'active-quote': currentTask === task}" class="list-group-item"
              (click)="setCurrentTask(task)">
              <p>
                <b>{{task}}</b>
                <i *ngIf="tasks[task]['comments']" class="comment-count">{{tasks[task]['comments'].length}}</i>
                <button class="btn btn-outline-danger" (click)="deleteTask(task)">Delete</button>
              </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6" *ngIf="tasks[currentTask]">
    <div class="box-shadow">
      <app-comments [task]="getCurrentTask()"></app-comments>
      <div class="comment-input">
        <textarea [(ngModel)]="newComment"  (keydown)="onKeyDown($event)" tabindex="0"></textarea>
      </div>
    </div>
  </div>
</div>

